<!DOCTYPE html>
<html lang="rus">
<meta charset="utf-8">
{% load staticfiles %}

<div class="row padding-5" data-toggle="tooltip" title="Не является публичной офертой. Условный расчет по самой выгодной программе">
    <div class="col-xs-12 estate-row-info">
        <div class="float-left">
            <p>В ипотеку:</p>
        </div>
        <div class="float-right">
            <a class="mortgage" href="javascript:void(0)" onclick="CalculationMortgage.clickOnMortgageCost(this)"><p>{{ mortgage_price }} руб/мес.</p></a>
        </div>
    </div>
</div>


