{% extends "index.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load estate_tag %}
{% load marketing_tag %}
{% load other_tag %}
{% load l10n %}

{% block body %}
    {% header_page partner.name %}
    <!-- Partner -->
    <div class="container padding-l-r-5 margin-t-25">
        <div class="row">
            <div class="col-xs-3">
                <div>
                    <img src="
                {% if partner.picture %}
                    {% thumbnail partner.picture 200x200 crop %}
                {% else %}
                    {% static "images/other/partner.jpg" %}
                {% endif %}
                    " class="img-responsive full-width" alt="Partner"/>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{{ partner.url }}"><h4>{{ partner.url }}</h4></a>
                    </div>
                </div>
                {% if partner.textPage %}
                    <div class="row partner-description">
                        <div class="col-xs-12">
                            <p>{% autoescape off %}{{ partner.textPage }}{% endautoescape %}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- End Partner -->
    <!-- PartnerProgram -->
    {% if partner_program_list %}
        {% partner_program partner %}
    {% endif %}
    <!-- End PartnerProgram -->
    <!-- Certificate-->
    {% if partner.album %}
        <div class="container content-40 padding-l-r-5">
            <div class="row margin-t-5">
                <div class="col-xs-12">
                    <div id="gallery" style="display:none;">
                        {% for photo in partner.album.photo_set.all %}
                            <a href="{{ MEDIA_URL }}{{ photo.picture }}">
                                <img src="{% thumbnail photo.picture 200x200 crop %}"
                                     alt="{{ photo.name }}"/>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#gallery').jGallery({backgroundColor: '#f4faff', textColor: '#244971'});
            });
        </script>
    {% endif %}
    <!-- End Certificate -->
{% endblock %}