{% load staticfiles %}
{% load thumbnail %}
{% load estate_tag %}
{% load other_tag %}
{% load l10n %}

<div class="row padding-t-5 padding-l-r-5">
    <div class="col-xs-12 estate-row-info">
        <div class="float-left">
            <p>Год постройки:</p>
        </div>
        <div class="float-right">
            <p>
                {% if residence.year %}
                    {{ residence.year|stringformat:"s" }}
                {% else %}
                    -
                {% endif %}
            </p>

        </div>
    </div>
</div>
<div class="row padding-t-5 padding-l-r-5">
    <div class="col-xs-12 estate-row-info">
        <div class="float-left">
            <p>Площадь:</p>
        </div>
        <div class="float-right">
            <p>{{ residence.areaCommon }} м2</p>
        </div>
    </div>
</div>
<div class="row padding-5">
    <div class="col-xs-12 estate-row-info">
        <div class="float-left">
            <p>Этажность:</p>
        </div>
        <div class="float-right">
            <p>{{ residence.floors }}</p>
        </div>
    </div>
</div>
{% if residence.price %}
    {% price_row residence.cost residence.areaCommon %}
{% endif %}
{% if residence.mortgagePrice %}
    {% mortgage_price_row residence.cost %}
{% endif %}
