{% extends "index.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load l10n %}
{% load marketing_tag %}
{% load estate_tag %}
{% load other_tag %}

{% block body %}
    {% header_page "Квартиры" %}
    <!-- Helper -->
    {% article_search %}
    <!-- End Helper -->
    <!-- ApartmentEstate -->
    <div class="container">
        <div class="row border-top-base padding-t-15">
            <div class="col-xs-2 col-md-1 col-lg-1">
                <div class="flex-left">
                    <label for="city-select">Населенный пункт:</label>
                </div>
            </div>
            <div class="col-xs-10 col-md-3 col-lg-3">
                <div class="form-group flex">
                    <select class="form-control selectpicker" id="city-select">
                        <option value="">Не выбрано</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-2 col-md-1 col-lg-1">
                <div class="flex-left">
                    <label for="district-select">Район:</label>
                </div>
            </div>
            <div class="col-xs-10 col-md-3 col-lg-3">
                <div class="form-group flex">
                    <select class="form-control dependent-select selectpicker" id="district-select">
                        <option value="">Не выбрано</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-2 col-md-1 col-lg-1">
                <div class="flex-left">
                    <label for="street-select">Улица:</label>
                </div>
            </div>
            <div class="col-xs-10 col-md-3 col-lg-3">
                <div class="form-group flex">
                    <select class="form-control dependent-select selectpicker" id="street-select">
                        <option value="">Не выбрано</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <div class="flex-left">
                    <label for="sort-estate-select">Стоимость:</label>
                </div>
            </div>
            <div class="col-xs-10 col-sm-4 col-md-5 col-lg-5">
                <div class="form-group flex-left">
                    <input id="cost-from" type="text" class="form-control filter-form-input"
                           onkeyup="Utils.formatValueInput(this, 2)"
                           placeholder="от..." maxlength="40" required name='costFrom'/>
                    <span class="margin-l-5">-</span>
                    <input id="cost-to" type="text" class="margin-l-5 form-control filter-form-input"
                           onkeyup="Utils.formatValueInput(this, 2)"
                           placeholder="до..." maxlength="40" required name='costTo'/>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <div class="flex-left">
                    <label for="sort-estate-select">Площадь:</label>
                </div>
            </div>
            <div class="col-xs-10 col-sm-4 col-md-5 col-lg-5">
                <div class="form-group flex-left">
                    <input id="area-from" type="text" class="form-control filter-form-input"
                           onkeyup="Utils.formatValueInput(this, 2)"
                           placeholder="от..." maxlength="40" required name='areaFrom'/>
                    <span class="margin-l-5">-</span>
                    <input id="area-to" type="text" class="margin-l-5 form-control filter-form-input"
                           onkeyup="Utils.formatValueInput(this, 2)"
                           placeholder="до..." maxlength="40" required name='areaTo'/>
                </div>
            </div>
        </div>
        <div class="row border-bottom-base">
            <div class="col-xs-2 col-md-1 col-lg-1">
                <div class="flex-left">
                    <label for="construction-select">Тип постройки:</label>
                </div>
            </div>
            <div class="col-xs-10 col-md-3 col-lg-4">
                <div class="form-group flex">
                    <select class="form-control selectpicker" id="construction-select" title="Не выбрано" multiple>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 padding-b-15">
                <div class="btn-group switch-room full-width " data-toggle="switch-buttons">
                    <label class="btn btn-primary">
                        <input type="radio" autocomplete="off" data-type="0"/>
                        Комната
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" autocomplete="off" data-type="1"/>
                        1
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" autocomplete="off" data-type="2"/>
                        2
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" autocomplete="off" data-type="3"/>
                        3
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" autocomplete="off" data-type="4"/>
                        4
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" autocomplete="off" data-type="5"/>
                        5+
                    </label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 padding-b-15">
                <div class="full-width">
                    <button class="btn btn-primary full-width" onclick="LayoutApartment.trashFilter()">
                        <i class="fa fa-trash" data-toggle="tooltip" title="Сбросить фильтр"></i>
                    </button>
                </div>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 padding-b-15">
                <div class="full-width">
                    <button class="btn btn-primary full-width" onclick="LayoutApartment.findEstate()">
                        Найти
                    </button>
                </div>
            </div>
        </div>
        <div class="row margin-t-25">
            {% estate_view_sort_tag %}
            <div class="col-sm-12 col-md-3">
                {% calculator %}
                <!-- Banner -->
                {% vertical_banner %}
                <!-- End Banner -->
            </div>
        </div>
    </div>
    <!-- End ApartmentEstate -->
    <!-- Helper -->
    {% wait_call %}
    <!-- End Helper -->
    <!-- Map -->
    <div class="container margin-t-50 margin-b-50">
        <div class="row">
            <div class="estate-map geo-estate-category" id="map-category-estate-canvas"></div>
        </div>
    </div>
    <!-- End Helper -->
    <!-- Banner -->
    {% horizontal_banner %}
    <!-- End Banner -->
    <!-- Partner program -->
    {% partner_program %}
    <!-- End partner program -->
    <script type="text/javascript">
        $(document).ready(function () {
            LayoutApartment.init();
        });
    </script>
{% endblock %}