{% load staticfiles %}
{% load l10n %}
{% load estate_tag %}
{% load thumbnail %}

<div class="row padding-t-5 padding-l-r-5">
    <div class="col-xs-12 estate-col-info">
        <div class="float-left">
            <p>Площадь:</p>
        </div>
        <div class="float-right">
            <p>{{ apartment.areaCommon }} м2</p>
        </div>
    </div>
</div>
<div class="row padding-5">
    <div class="col-xs-12 estate-col-info">
        {% if apartment.floor %}
            <div class="float-left">
                <p>Этаж/Этажность:</p>
            </div>
            <div class="float-right">
                <p>{{ apartment.floor }}/{{ apartment.floors }}</p>
            </div>
        {% else %}
            <div class="float-left">
                <p>Этажность:</p>
            </div>
            <div class="float-right">
                <p>{{ apartment.floors }}</p>
            </div>
        {% endif %}
    </div>
</div>
{% if apartment.price %}
    {% price apartment.cost apartment.areaCommon %}
{% endif %}
{% if apartment.mortgagePrice %}
    {% mortgage_price apartment.cost %}
{% endif %}


