{% load staticfiles %}
{% load thumbnail %}
{% load estate_tag %}
{% load other_tag %}
{% load l10n %}

<a href="{% url 'show_estate' estate.slug %}">
    <div class="row-full-width estate-row estate-item">
        <div class="col-xs-6 col-sm-5 col-lg-4">
            <div class="row">
                <div class="estate-col-img-box">
                    <img src="
                        {% if estate.album and estate.album.image %}
                            {% thumbnail estate.album.image 200x200 crop %}
                        {% else %}
                            {% if estate.room %}
                                {% static "images/estates/apartment.jpg" %}
                            {% elif estate.construction %}
                                {% static "images/estates/residence.jpg" %}
                            {% elif estate.appointment %}
                                {% static "images/estates/commerce.jpg" %}
                            {% else %}
                                {% static "images/estates/land.jpg" %}
                            {% endif %}
                        {% endif %}
                        " class="img-responsive full-width" alt="Estate"/>
                </div>
                <div class="estate-common-cost"
                     data-toggle="tooltip"
                     title="Не является публичной офертой"
                >
                    {% localize on %}
                        <h6>{{ estate.cost }} руб.</h6>
                    {% endlocalize %}
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-7 col-lg-8">
            <div class="row padding-t-5">
                <div class="col-xs-12 estate-row-name">
                    <h4>{{ caption }}</h4>
                </div>
            </div>
            <div class="row padding-l-r-5">
                <div class="col-xs-12 estate-row-address">
                    <p><i class="fa fa-map-marker margin-r-5"></i>
                        {{ estate.city }},
                        {% if not estate.appointmentLand %}
                            {{ estate.street }}, {{ estate.number }}
                            {% if estate.literal %},
                                {{ estate.literal }}
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>
            {% if estate.shortDescription %}
                <div class="row padding-l-r-5">
                    <div class="col-xs-12 estate-row-info">
                        <p>
                            {{ estate.shortDescription }}
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if estate.room %}
                {% apartment_row estate %}
            {% elif estate.construction %}
                {% residence_row estate %}
            {% elif estate.appointment %}
                {% commerce_row estate %}
            {% else %}
                {% land_row estate %}
            {% endif %}
        </div>
    </div>
</a>
